<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <style> 
      .pageA4 {
          page-break-after:always;
      }
    </style>
  </head>
  <body>
    {% for chunked_qr_codes in divide_chunks(qr_codes, 9) %}
    <div class="grid grid-cols-3 mx-auto pageA4">
      {% for qr_code in chunked_qr_codes %}
      <div class="flex flex-col items-center border-2 justify-center h-72">
          {% if qr_code != "" %}
          <p>Some wording here</p>

          <figure class="flex flex-col items-center">
            <img src="https://quickchart.io/qr?text={{ qr_code.serial_number }}" />
            <figcaption>{{ qr_code.serial_number }}</figcaption>
          </figure>

          <p>Some more wording</p>
          {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="grid grid-cols-3 mx-auto pageA4">
      {% for _ in range(9) %}
      <div class="flex flex-col items-center border-2 justify-center h-72">
          <p>Shit matrix for lyfe</p>
          <img class="h-1/3 w-1/3" src="./Marriott_Logo.webp" />
          <p>some other text</p>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </body>
</html>
